body{
    background-color: #f2aa4cff;
}
.courses{
    padding: 10px;
    margin: 10px;
    display: flex;
    border: 3px solid black;
}
img{
    border: 2px solid black;
    width: 450px;
}
.course-description{
    padding-left: 40px;
}
.shopping-cart{
    padding: 50px;
    margin-top: 200px;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    /* box-shadow: ; */
}